 /* start global rules */
 body {
     margin: 0px;
     background-color: #0E0E0E;
     font-family: 'Italiana', 'Space Grostek', 'Tajawal', 'metal';
 }

 /* end global rules */


 /* Start Navbar Section */
 .navbar-nav {
     padding-top: 25px;
 }

 .navbar-toggler svg {
     margin-top: 10px;
     color: #fff;
 }

 .navbar-expand-lg .nav-link {
     color: #ffffff;
     font-family: Space Grotesk;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;
     width: 70px;
     height: 20px;
 }

 .navbar-expand-lg .nav-link:hover {
     color: #C19977;
 }

 .navbar-expand-lg .navbar-logo img {
     width: 200px;
     margin-left: -12px;
     margin-top: 40px;
 }

 /* End Navbar Section */


 /* Start Header section */
 main {
     height: 700px;
     width: 100%;
     background-image: url("../assets/header.png");
     background-size: cover;
     position: relative;
 }

 .header .text {
     display: inline-flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     gap: 45px;
     margin-top: 10%;
 }

 .header .text button {
     display: flex;
     width: 165px;
     height: 39px;
     background-color: transparent;
     color: #FFF;
     justify-content: center;
     align-items: center;
     border-radius: 30px;
     border: 1px solid var(--last, #FF7500);

 }

 .header .text button:hover {
     color: #C19977;
 }

 .header .text .content {
     max-width: 600px;
 }

 .header .text h2 {
     color: #C19977;
     font-family: Italiana;
     font-size: 48px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;
 }

 .header .text p {
     color: #FFF;
     font-family: Space Grotesk;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
     text-transform: capitalize;
 }

 /* End header Section */


 /* start about Section */
 .about {
     flex-shrink: 0;
     margin-top: 80px;
 }

 .about h1 {
     color: var(--h1-last, #C19977);
     font-family: Italiana;
     font-size: 36px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;
 }

 .about img {
     width: 90px;
     height: 4px;
     background: var(--last, linear-gradient(91deg, rgba(255, 117, 0, 0.70) 9.93%, rgba(226, 135, 57, 0.70) 39.16%, rgba(227, 157, 52, 0.70) 67.18%, rgba(255, 255, 255, 0.70) 99.59%));
 }

 .about p {
     padding-top: 40px;
     color: #D2D2D2;
     font-family: Space Grotesk;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
     text-transform: capitalize;
 }

 .about p span {
     color: #C19977;
     font-size: 20px;
 }

 .about .info {
     display: flex;
     align-items: flex-start;
     gap: 16px;
 }

 .about .info p {
     display: inline;
     width: 250px;
     color: #D2D2D2;
     font-family: Space Grotesk;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;
 }

 /* End about Section */


 /* start services Section */
 .services {
     margin-top: 80px;
 }

 .services .card {
     display: flex;
     padding: 16px 0px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 16px;
     border-radius: 30px;
     border: 1px solid #282727;
     background: #101010;
 }

 .services img {
     width: 65px;
     height: 65px;
     flex-shrink: 0;
     margin-top: 16px;
 }

 .services h1 {
     width: 291px;
     color: var(--h1-last, #C19977);
     text-align: center;
     font-family: Tajawal;
     font-size: 24px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     text-transform: capitalize;
 }

 .services p {
     width: 296px;
     color: rgba(255, 255, 255, 0.80);
     font-family: Poppins;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     text-transform: capitalize;
     text-align: center;
     line-height: 26px;
 }

 .services #image {
     margin-top: 80px;
     height: 319px;
     border-radius: 30px;
 }

 /* end services Section */


 /*start progress Section */

 .progress-sec {
     display: flex;
     margin-top: 80px;
 }

 .progress-sec h1 {
     color: var(--h1-last, #C19977);
     font-family: Italiana;
     font-size: 36px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;
 }

 .progress-sec img {
     width: 38px;
     height: 4px;
     background: var(--last, linear-gradient(91deg, rgba(255, 117, 0, 0.70) 9.93%, rgba(226, 135, 57, 0.70) 39.16%, rgba(227, 157, 52, 0.70) 67.18%, rgba(255, 255, 255, 0.70) 99.59%));
 }

 .our-skills {
     padding-top: 40px;
     padding-bottom: var(--section-padding);
 }

 .our-skills .head {
     margin: 0 0 16px;
     color: #D2D2D2;
     font-family: Tajawal;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;

 }

 .our-skills .skills .prog-holder h4 {
     margin-bottom: 15px;
     font-weight: normal;
     text-transform: uppercase;
     color: #D2D2D2;
     font-family: Space Grotesk;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;

 }

 .our-skills .skills .prog-holder .prog {
     background-color: #dedadc;
     height: 6px;
     border-radius: 25px;
     margin-bottom: 24px;
 }

 .our-skills .skills .prog-holder .prog span {
     display: block;
     background-color: var(--degree, #FF7500);
     height: 100%;
     position: relative;
     border-radius: 25px;
 }

 /*end progress Section */


 /*start recent-works Section */
 .recent-works {
     margin-top: 80px;
 }

 .recent-works .text {
     text-align: center;

 }

 .recent-works h1 {
     color: var(--h1-last, #C19977);
     text-shadow: 4px 4px 16px rgba(201, 181, 174, 0.40);
     font-family: Italiana;
     font-size: 48px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;

 }

 .recent-works p {
     color: #D2D2D2;
     font-family: Metal;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;
 }

 .recent-works .work-cards {
     margin-top: 40px;
 }

 .work-cards .work-card {
     border-radius: 30px;
 }

 .work-cards .work-card img {
     border: 2px solid var(--12, #FF7500);
     border-radius: 30px;
 }

 .work-cards .work-card figure figcaption {
     border-radius: 0px 0px 30px 30px;
     background: rgba(0, 0, 0, 0.50);
     display: flex;
     color: #ffffff;
     height: 60px;
     font-family: Tajawal;
     font-size: 18px;
     font-weight: 800;
     text-transform: capitalize;
     padding: 20px 0px 20px 0px;
     justify-content: center;
     align-items: center;
     margin-top: -60px;
     position: relative;

 }

 /*end recent-works Section */


 /*start conect Section */
 .conect-sec {
     margin-top: 80px;
 }

 .conect-sec .conect-text h1 {
     font-family: Italiana;
     font-size: 48px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;
     background: var(--12, linear-gradient(91deg, #FF7500 9.93%, #F28C34 39.16%, #DA8944 67.18%, #C19977 99.59%));
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .conect-sec .conect-text p {
     color: #D2D2D2;
     font-family: Space Grotesk;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
     text-transform: capitalize;
 }

 /*end conect Section */


 /*start footer Section */
 footer {
     padding-top: 80px;
     height: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;

 }

 footer header h4 {
     display: inline;
     color: #D2D2D2;
     font-family: Tajawal;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;
 }

 footer article a {
     text-decoration: none;
     color: #D2D2D2;
     font-family: Space Grotesk;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;
 }

 footer article .social-media a img {
     text-decoration: none;
     width: 36px;
     height: 36px;
     align-items: center;
 }

 /*end footer Section */


 /* start media Section */
 @media (max-width: 350px) {
     .header .text {
         width: 100%;
         margin-top: 40px;
     }

     .header .text .content {
         max-width: 100%;
     }
 }

 @media (max-width: 1500px) {

     .about p {
         width: 100%;
     }

     .about,
     .progress-sec {
         width: 100%;
     }
 }

 @media (max-width: 400px) {
     .about .info {
         flex-direction: column;
     }

     .about .info .phone {
         margin-top: -50px;
     }

     .services p {
         max-width: 100%;
     }
 }

 @media (max-width: 990px) {
     .services .card {
         margin-bottom: 16px;
     }
 }

 @media (max-width: 530px) {
     .conect-sec .conect-text p {
         max-width: 100%;
     }

     .recent-works h1 {
         font-size: 32px;
     }
 }



 /* end media Section */